{% extends 'sCart/base.html' %}
{% block scart_active %}active{% endblock %}
{% block body %}
    <h1>Shopping Cart</h1>
    <div>
        <li> {{cart}} </li
        {% if not paymentView %}
        <h2>Item Entry</h2>
        workfile : {{cart.workfile}} <br>
        cartQty : {{cart.cartQty}} <br>
        {% if cart.items %}
            {% for item in cart.items %}
                <li>Number {{item.number}}  Qty {{item.quantity}}</li>
            {% endfor %}
        {% else %}
            <div> NO ITEMS IN CART</div>
        {% endif %}
        <div>
            <form id="item" action="{% url 'shoppingCart:addItem' %}" method="post">
                {% csrf_token %}
                {{ itemForm.as_p}}
                <input type="submit" value="Add Item">
            </form>
        </div>
        <div>
            <form id="order" action="{% url 'shoppingCart:saveOrder' %}" method="post">
                {% csrf_token %}
                {{customerForm.as_p}}
                <input type="submit" value="Save Order">
            </form>
        </div>
        {% else %}
            <form id="order" action="{% url 'shoppingCart:completeSale' %}" method="post">
                {% csrf_token %}
                {{paymentForm.as_p}}
                <input type="submit" value="Make Payment">
            </form>
        {% endif %}
    </div>
{% endblock %}
